{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<figure class="text-end">
    <blockquote class="blockquote">
        <p>“I’m not accountable for my actions, I’m just highly responsible for my excuses.”</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Some guy probably
    </figcaption>
    </figure>

<br><h1 class="display-6">An endless to-do list but not enough gratification?</h1>
<br><img src="/static/luis_villasmil_unsplash.jpg" class="img-fluid" width="400" height="200" alt="man with sticky notes covering his face looking overwhelmed from https://unsplash.com/photos/people-sitting-on-chair-with-brown-wooden-table-mlVbMbxfWI4">
<br><br><h1 class="display-6">If so, you've come to the right place.</h1>
<br><p class="lead">This is an app I designed to help make accountability easier to exercise,
<br>for ourselves and for the people we care about.
<br><br>It goes like this.</p>

<br>You enter a list of tasks that you'd like to get done but find difficult to get started or finish off for good.
<br>You find friends who either have their own list of tasks or are otherwise very invested in your self-development.
<br>Both of you make an account on the app and partner up.

<br><br>Once you choose to start a task, the clock starts ticking.
<br>The status and start time of your tasks are in full view only to those you've partnered up with.

<br><br><img src="/static/no_revisions_unsplash.jpg" class="img-fluid" width="400" height="200" alt="man in white crew-neck t-shirt sitting beside woman in blue tank top from https://unsplash.com/photos/man-in-white-crew-neck-t-shirt-sitting-beside-woman-in-blue-tank-top-QAnTkAJ5pnM">
<br><br>After you've completed your task, you can set it to "Completed",
<br>but it will still need to be accepted by one of your partners
<br>for your achievements to go into your wallet.
<br>---maybe have a way for partners to edit allocated time before accepting--

<br><br>What is your wallet? It's a virtual account that calculates the time you put
<br>into your tasks with the minimum wage in your area.

<br><br>While this isn't linked to any real finances *yet*, it's a quick measure of how much you've achieved in total.
<br>This way, you can see if you really can indulge in that guilty pleasure purchase every now and then
<br>(with a little less guilt) or work yourself up into doing so!

<br><br>If you've made a guilty pleasure purchase, you can also take that amount out of this virtual wallet.
<br>This would set your wallet back and help you conceptualize how much you'll need to work on
<br>your personal task list before going off on another shopping spree.
<br><br> Like the name suggests, this is an honor system.
<br>No one but your partners will come after you if you fudge the time every now and then.
<br>(And if they're good partners, they might!)

<br><br>But it's your wallet, not ours.
<br><br>Have fun and happy earning!


{% endblock %}
