{% extends "layout.html" %}

{% block title %}
Make a goal
{% endblock %}

{% block main %}

<script src="/static/timefunctions.js"></script>
<script src="/static/goals.js"></script>

<table class = "table">
    <thead>
        <tr>
            <th>#</th>
            <th>Goal</th>
            <th>Completion status</th>
            <th>Acceptance status</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Action</th>
            <th>Time taken</th>
            <th>Delete task</th>
        </tr>
    </thead>
    <tbody class="mygoals">
    </tbody>
</table>

<input id="newGoalDescription" placeholder="Add a new goal."/>
<button id="addNewGoalButton">Add goal</button>


{% endblock %}


