{% extends "layout.html" %}

{% block title %}
Make a goal
{% endblock %}

{% block main %}

<table class = "table">
    <thead>
        <tr>
            <th>
                Goal
            </th>
            <th>
                Completion status
            </th>
            <th>
                Acceptance status
            </th>
            <th>
                Start time
            </th>
            <th>
                End time
            </th>
            <th>
                Action
            </th>
            <th>
                Time taken
            </th>
            <th>
                Delete task
            </th>
        </tr>
    </thead>
    <tbody>
        {% for goal in goals %}
        <tr>
            <td>
                {{ goal.goalDescription }}
            </td>
            <td>
                {{ goal.completionStatus }}
            </td>
            <td>
                {{ goal.acceptanceStatus }}
            </td>
            <td>
                {{ goal.timeStart }}
            </td>
            <td>
                {{ goal.timeEnd }}
            </td>
            <td>
                {% if goal.completionStatus == "PLANNED" %}
                <form action="/startgoal" method="post">
                    <input type="submit" id="startbutton" name="startbutton" value="Start task"/>
                    <input type="hidden" id="task_id" name="task_id" value="{{ goal.goal_id }}"/>
                 </form>
                {% elif goal.completionStatus == "IN PROGRESS" %}
                <form action="/endgoal" method="post">
                    <input type="submit" id="endbutton" name="endbutton" value="End task"/>
                    <input type="hidden" id="task_id" name="task_id" value="{{ goal.goal_id }}"/>
                </form>
                {% elif goal.acceptanceStatus == "REJECTED" %}
                <form action="/tryagain" method="post">
                    <input type="submit" id="redo" name="redo" value="Try again?"/>
                    <input type="hidden" id="task_id" name="task_id" value="{{ goal.goal_id }}"/>
                </form>
                {% endif %}
            </td>
            {% if goal.completionStatus == "IN PROGRESS" %}
            <td>{{ goal.goal_id | time_pending }}</td>
            {% else %}
            <td>{{ goal.goal_id | timediff }}</td>
            {% endif %}
            <td>
                <form action="/deletegoal" method="post">
                    <input type="submit" id="delete" name="delete" value="Delete task"/>
                    <input type="hidden" id="task_id" name="task_id" value="{{ goal.goal_id }}"/>
                 </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock %}
