{% extends "layout.html" %}

{% block title %}
Your wishlist
{% endblock %}

{% block main %}
<script src="/static/wishlist.js"></script>

<table class = "table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Wish</th>
            <th>Price</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="myWishlist"></tbody>
</table>

<input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="newWishDesc" id="newWishDesc" placeholder="Enter item" type="text">
<input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="newwishprice" id="newwishprice" placeholder="Enter price" type="text">
<button id="addNewWishButton">Add goal</button>

{% endblock %}
